* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
body {
  background: #161623;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right 70%);
  z-index: 0;
}
body::after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(rgb(28, 95, 240), rgb(2, 255, 44));
  clip-path: circle(30% at left 30%);
  z-index: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  height: 60vh;
  width: 80%;

  max-width: 600px;
  max-height: 700px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 90px;
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(2rem);
  flex-direction: column;
}
.container:hover {
  box-shadow: 0px 0px 40px rgba(1, 1, 1, 0.5);
}
.display {
  content: "";
}
.btn {
  border: none;
  text-align: center;
  background: rgb(28, 95, 240);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
  color: #fff;
  font-weight: bolder;
  transition: 0.5s;
}
.btn:hover {
  background: #31385e;
  color: #fff;
  font-weight: bolder;
}
.display {
  background: orange;
  border-radius: 20px;
  content: "";
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
}
.input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  margin: 50px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
.input:hover {
  border: 2px solid #31385e;
}
